/* ===============MOBILE=============== */
@media screen and (max-width: 767px) {
    .background-svg {
        display: none;
    }
}
.text-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
    padding: 96px 0;
}

.title { 
    color: #2E2F42; 
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* =================TABLET================ */
@media screen and (min-width: 768px) {
    .background-svg {
        display: none;
    }

    .text-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .feature-list {
        width: calc((100% - 48px) / 2)  
    }

    .title { 
        text-transform: capitalize;
        text-align: inherit;
    }

}

/* =================DESKTOP============= */
@media screen and (min-width: 1158px) {
    .section-feature {
        padding: 120px 0;
    }

    .text-list {
        display: flex;
        gap: 24px;
        padding-top: 0;
        padding-bottom: 0;
    }

    .feature-list {
        width: calc((100% - 72px) / 4)  
    }
        
    .background-svg {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f4f4fd;
        width: 264px;
        height: 112px;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        margin-bottom: 8px;
    }
    .title { 
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
    }
    
}