
/* =========MOBILE============= */
@media screen and (max-width: 767px) {
.navigation {
    display: none;
}

.header-main {
    margin-top: 16px;
    margin-bottom: 16px;
} 

.address-list {
    display: none;
}
.open-menu-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    margin-left: auto;
    line-height: 0;
    fill: #2F2F37;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.open-menu-btn:hover,
.open-menu-btn:focus {
    fill: #404BBF;
    border: none;    
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 72px 24px 40px 16px;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    transform: translateX(0%);
}
.mobile-menu-close-btn {
    position: absolute;
    top: 32px;
    right: 32px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms 
    cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close-btn:hover,
.mobile-menu-close-btn:focus {
    background-color: #404BBF;
    border: none;    
}
.mobile-menu-close-btn:hover .mobile-menu-close-icon,
.mobile-menu-close-btn:focus .mobile-menu-close-icon {
    fill: #ffffff;
    border: none;
}
.mobile-menu-nav { 
    display: inline-flex;
    flex-direction: column;   
    gap: 40px;
}

.mobile-menu-link {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; 
    letter-spacing: 0.02em;
    text-transform: capitalize;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-link:hover,
.mobile-menu-link:focus {
    color: #404bbf;
}

.current {
    color: #404bbf;
}

.mobile-menu-address {
    font-style: normal;
}

.mobile-menu-address-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    
}

.mobile-menu-address-link {
    color: #434455;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.12;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.number {
    color: #4D5AE5;
}

.mobile-menu-address-link:hover,
.mobile-menu-address-link:focus {
    color: #4D5AE5;
}

.mobile-menu-social {
    margin-top: auto;
}

.mobile-menu-social-list {
    display: flex;
    gap: 40px;
    margin-top: 48px;
}

.mobile-menu-social-icon {
    width: 40px;
    height: 40px;
}

.mobile-menu-social-link {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-svg {
    fill: #F4F4FD;
}

.mobile-menu-social-link:hover,
.mobile-menu-social-link:focus {
    background-color: #31d0aa;
}
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    }

.link-logo {
    color: var(--iris, #4D5AE5);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    }
    
.logo-studio {
    color: #2E2F42;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    }
/* ==============TABLET================= */
@media screen and (min-width: 768px) {
.open-menu-btn {
    display: none;
    }
.mobile-menu {
    display: none;
    }

.navigation {
    display: flex;
    }
    
.address-list {
    display: flex;
    }

.header-nav {
    display: flex;
    align-items: center;
    }

.navigation {
    display: flex;
    gap: 40px;
    margin-left: 72px;
}

.nav-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    padding: 20px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.current {
    color: #404bbf;
}

.current::after {
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    position: absolute;
    left: 0;
    bottom: -1px;
}  
    
.contacts-links {
    font-style: normal;
}

.address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.link {
    color: #434455;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
    color: #404bbf;
}
}

/* ==========DESKTOP============== */
@media screen and (min-width: 1158px) {
.header-main {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 1px 6px rgba(46, 47, 66, 0.08); 
}


.nav-link {
    padding: 24px 0;
}

/* ==========ADDRESS=========== */
.contacts-links {
    margin-left: auto;
}

.address-list {
    flex-direction: row;
    gap: 40px;
}

    .link {
    color: #434455;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

}
