/* ==============MOBILE================= */
@media screen and (max-width: 767px) {
.section-hero {
    background: #2e2f42;
    padding: 72px 0;  
    display: flex;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url(../../images/background-img/Dark-bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 320px;
    height: 432px;
    margin: 0 auto;
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px),
    screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
        .section-hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), 
            url(../../images/background-img/Dark-bg-mobile@2x.jpg);
        }
    }
}

.hero-title {
    color: #FFF;
    text-align: center;
    max-width: 190px;
    height: 160px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-right: auto;
    margin-left: auto;
    text-transform: capitalize;
    }

.order-service {
    font-family: "Roboto", sans-serif;
    color: #FFF;
    min-width: 105px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: #4D5AE5;
    border-radius: 4px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 32px;
    border: none;
    margin-top: 72px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    
.order-service:hover,
.order-service:focus {
    background-color: #404BBF;
    outline: transparent;
    }

    /* ================TABLET=============== */
@media screen and (min-width: 768px) {
    .section-hero {
        padding: 112px 0;  
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url(../../images/background-img/Dark-bg-tablet.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        max-width: 768px;
        height: 436px;
    }

    @media screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px),
    screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
        .section-hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), 
            url(../../images/background-img/Dark-bg-tablet@2x.jpg);
        }
    }
    
    .hero-title {
        max-width: 496px;
        height: 120px;
        font-size: 56px;
        line-height: 1.07;
    }

    .order-service {
        margin-top: 36px;
    }
    }

    /* =================DESKTOP================ */
    @media screen and (min-width: 1158px) {
        .section-hero {
            padding: 188px 0;  
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
            url(../../images/background-img/Dark-bg-desktop.jpg);
            max-width: 1440px;
            height: 600px;
        }
        
    @media screen and (min-resolution: 192dpi) and (min-width: 1158px),
    screen and (min-resolution: 2dppx) and (min-width: 1158px),
    screen and (min-device-pixel-ratio: 2) and (min-width: 1158px) {
        .section-hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), 
            url(../../images/background-img/Dark-bg-tablet@2x.jpg);
        }
    }

    .order-service {
        margin-top: 48px;
    }
    
    }