/* ==============MOBILE============== */
@media screen and (max-width: 767px) {
.section-team {
    background-color: #F4F4FD; 
    padding: 96px 0;
}

.subject {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.subject-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
    padding-top: 72px;
}

.team-list {
    background-color: #FFFFFF;
    max-width: 264px;
    margin: 0 auto;
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.container-card {
    padding: 32px 0; 
}

.title-card {
    color: #2E2F42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.team-icon {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 8px;
}

.team-icon-svg {
    fill: #f4f4fd;
}

.svg-list-link:hover,
.svg-list-link:focus {
    background-color: #404bbf;
    outline: transparent;
}

.svg-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #4d5ae5;
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}

/* ================TABLET================ */
@media screen and (min-width: 768px) {
    .section-team {
        background-color: #F4F4FD; 
        padding: 96px 0;
    }


    .team {
        max-width: 584px;
        padding: 0 16px;
    }

    .subject {
        color: #2E2F42;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
    }
    
    .subject-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 64px 24px;
        padding-top: 72px;
        margin: 0 auto;
    }
     
    .team-list {
        background-color: #FFFFFF;
        
        text-align: center;
        width: calc((100% - 24px) / 2);
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
        0px 1px 1px rgba(46, 47, 66, 0.16), 
        0px 2px 1px rgba(46, 47, 66, 0.08);
        }

    .container-card {
        padding: 32px 0;
    }

    .title-card {
        color: #2E2F42;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }
    
    .team-icon {
        display: flex;
        gap: 24px;
        justify-content: center;
        margin-top: 8px;
    }
    
    .team-icon-svg {
        fill: #f4f4fd;
    }
    
    .svg-list-link:hover,
    .svg-list-link:focus {
        background-color: #404bbf;
        outline: transparent;
    }
    
    .svg-list-link {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: #4d5ae5;
        width: 40px;
        height: 40px;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}

/* ================DESKTOP===================== */
@media screen and (min-width: 1158px) {
    .section-team {
        padding: 120px 0;
    }

    .team {
        max-width: 1158px;
    }   
    
    .subject-list {
        gap: 24px;
    }
    
    .team-list {
        width: calc((100% - 72px) / 4);
    }
}



